:root {
  --background: #222E50;
  --text: #FFFFFF;
  --primary: #4BB3FD;
  --secondary: #118AB2;
  --success: #4CB944;
  --warning: #FFD166;
  --error: #ef233c;
  --header-height: 32px;
}

body {
  margin: 0px;
  background-color: var(--background);
  font-family: 'Roboto', sans-serif;
  height: 100%;
}

p,
input,
button{
  font-weight: 300;
  font-family: 'Roboto', sans-serif;
}

.root {
  height: 100vh;
  box-sizing: content-box;
}

.app {
  height: 100%;
}

html {
  height: 100%;
}

.testContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  margin-top: 100px;
  gap: 10px;
  align-items: center;
}