:root {
  /*
  --background: #2C6E49;
  --text: #FFFFFF;
  --white: #FEFEE3;
  --primary: #4C956C;
  --secondary: #7389AE;
  --third: #416788; */

  /*
  --background: #222E50;
  --text: #FFFFFF;
  --primary: #4BB3FD;
  --secondary: #118AB2;
  --success: #4CB944;
  --warning: #FFD166;
  --error: #ef233c; */

  --background: #285238;
  --text: #FFFFFF;
  --third: #E6EFE8; 
  --primary: #F3F7F4;
  --secondary: #9FBCA5;
  --success: #4CB944;
  --warning: #FFD166;
  --error: #871E1C;
}

body {
  margin: 0px;
  background-color: var(--background);
  font-family: 'Roboto', sans-serif;
  height: 100%;
}

p,
input,
button
{
  font-weight: 400; 
  font-family: 'Roboto', sans-serif;
}

h1, h2, h3 {
  /*font-weight: 400; */
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-size: 35px;
}

#root {
  display: flex;
  flex-direction: column;
  margin: 10px 10px 0px 10px;
  height: 100%;
}

.app {
  height: 100%;
}

html {
  height: 100%;
}

main {
  margin-top: 10px;
  display: flex;
  flex-grow: 1;
  gap: 10px;
}