
.shoppinglistContainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: fit-content;
    align-items: center;
    background: var(--text);
    margin: 40px;
    border-radius: 25px;
    flex-grow: 1;
    box-shadow: -15px -15px 0px  var(--secondary);
    border-radius: 24px;
    padding: 32px 32px; 
    gap: 10px;
}

.shoppinglistContainer header {
    position: relative;
}

.close {
    position: absolute;
    right: 30px;
    top: 10px;
    background: var(--text);
    color: var(--background);
    border-color: var(--background);
}

.shoppinglistUl {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
    margin-top: 20px;
    padding: 0;
    gap: 10px;
    list-style-type: none;
    width: 100%;
    flex-direction: column;
    align-items: center;
    
}

.shoppinglistUl li {
    width: 80%;
    margin: 0;

}

/*.product {
    border-color: black;
    border-width: 1px;
    border-style: solid;
} */

.shoppingListContainer h2{
    font-size: 30px; 
}
 header{
    margin-top: 10px;
    text-align: center;
    width: 100%;
}
footer {
    margin: 20px 0px 20px 0px;
    width: 80%;
    display: flex;
    justify-content: space-between;
}

footer button {
    width: 25%;
    overflow: hidden;
    text-overflow: ellipsis;
}


.deleteList {
   /* border-width: 1px;
    border-color: var(--error);
    color: var(--error); */
    
    color: var(--text);
    padding: 10px;
    border-radius: 4px;

    display: flex;
    flex-direction: row; 
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 10px;

    background: var(--background);
    border-radius: 4px;

    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.addItem {
    background-color: var(--secondary);
    width: 80%;
    height: 100%;
    border-width: 1px;
    border-radius: 5px;
    padding: 10px 0 10px 0;

}

.addItem button {
    text-decoration: underline;
    font-size: 20px;
    padding: 10px;
    width: 100%;
    background-color: var(--primary);
    border-width: 1px;
}

.addItem button:hover {
    background-color: var(--primary);
}

.deleteList:hover {
    color: var(--text);
    background-color: var(--error);
}

.changeName:hover, .changeComment:hover {
    background-color: rgba(0, 0, 0, 0.12);
}

.changeComment, .changeName{
    color: #fff;
    padding: 10px;
    border-radius: 4px;

    display: flex;
    flex-direction: row; 
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 10px;

    background: var(--background);
    border-radius: 4px;

    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}
.comment {
    margin-top: 20px;
    border-style: dashed;
    border-width: 0.5px;
    width: 80%;
}

.comment p {
    text-align: left;
    margin: 10px;
}

.shoppinglistView {
    width: 80%;
}

.createItemForm {
    width: 100%;
    margin-left: 10px;
    margin-right: 10px;
}



@media (max-width: 650px){
    footer {
        flex-wrap: wrap;
    }
    footer button {
        width: 100%;
        margin: 2px;
    }

    .shoppinglistContainer header{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .close {
        position: unset;
        width: 80%;
    }

}