

.shoppinglistContainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: fit-content;
    align-items: center;
    background: lightgrey;
    margin: 10px;
    border-radius: 25px;
    flex-grow: 1;
    
}

.shoppinglistUl {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
    margin-top: 20px;
    padding: 0;
    gap: 5px;
    list-style-type: none;
    width: 100%;
    flex-direction: column;
    align-items: center;
    
}

.shoppinglistUl li {
    width: 80%;
    margin: 0;

}

.product {
    border-color: black;
    border-width: 1px;
    border-style: solid;
}

header {
    margin-top: 10px;
    text-align: center;
    width: 100%;
    font-size: 40px;
}

footer {
    margin: 20px 0px 20px 0px;
    width: 80%;
    display: flex;
    justify-content: space-between;
}

footer button {
    width: 25%;
    overflow: hidden;
    text-overflow: ellipsis;
}


.deleteList {
    background-color: lightgrey ;
    border-width: 1px;
    border-color: var(--error);
    color: var(--error);
    
}

.addItem {
    margin-top: 10px;
    width: 100%;
}

.addItem button {
    text-decoration: underline;
    font-size: 20px;
    padding: 10px;
    width: 100%;
    background-color: var(--primary);
    border-radius: 3px;
    border-width: 1px;
}

.addItem button:hover {
    background-color: var(--secondary);
}

.deleteList:hover {
    background-color: red;
}

.changeName:hover, .changeComment:hover {
    background-color: grey;
}

.comment {
    margin-top: 20px;
    border-style: dashed;
    border-width: 0.5px;
    width: 80%;
}

.comment p {
    text-align: left;
    margin: 10px;
}

@media (max-width: 480px){
    footer {
        flex-wrap: wrap;
    }
    footer button {
        width: 100%;
        margin: 2px;
    }


}