header {
    background: #fff;
    color: var(--background) ;
    /*width height root*/
}
  header .container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  header a {
    color:var(--background);
  }
  
  button {
    border-style: solid;
    border-width: 2px;
    border-color: var(--background);
    color: var(--background);
    background-color: #FFFFFF;
    height: 40px;
    border-radius: 5px;
    font-size: large;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  }