  .navHeader .container {
    border-radius: 5px;
    background: var(--secondary);
    color: var(--text) ;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    box-sizing: border-box;
    height: 120px;
  }
  .navHeader a {
    color:var(--background);
  }
  
  .container button {
    border-style: solid;
    border-width: 2px;
    border-color: var(--background);
    color: var(--background);
    background-color: #FFFFFF;
    height: 40px;
    border-radius: 5px;
    font-size: large;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    cursor: pointer;
  }

  .container button:hover {
    background-color: rgba(0, 0, 0, 0.12);
  }


  nav {
    margin-right: 32px;
  }

  .container h1 {
    margin-left: 32px;
  }

  h1:hover {
    background-color: rgba(0, 0, 0, 0.12);
    border-radius: 5px;

  }

  .navHeader {
    flex-shrink: 0;
  }