.editProductForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--primary);
  padding: 10px 20px 20px 20px;
  border-radius: 20px;
}


.editProductForm input{
  width: 60%;
  border-radius: 5px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  height: 20px;
}

.editProductForm label {
  margin-top: 20px;
  margin-bottom: 5px;
  font-size: 15px;
  font-weight: bold;
}

.editProductForm button {
  border-style: none;
  margin: 5px;
  margin-top: 0;
  height: 20px;
  border-radius: 5px;
  transition: background-color 0.2s ease-out;
}

.buttons button:hover {
  transition: background-color 0.2s ease-out;
  background-color: gray;
}


.submitContainer {
  margin-top: 20px;
  margin-bottom: 5px;
  width: 60%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}


.simpleContainer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
  padding: 10px;
  padding-right: 15px;
  padding-left: 15px;
  z-index: 100;
}

.right {
  display: flex;
  justify-content: center;
  gap: 24px;
  align-content: center;
}



.simpleContainer h3 {
  font-size: 20px;
  font-weight: 300;
  margin: 0;
}

.detailsContainer {
  position: relative;
  z-index: 10;
  animation: show 0.1s ease-in;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  overflow: hidden;
  border-top: 3px;
  border-style: solid;
  border-bottom: 0;
  border-right: 0;
  border-left: 0;
}

.detailsContainer p {
  text-align: center;
  margin: 0;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 20%;
}


.notes {
  display: flex;
  flex-wrap: wrap;
}

.notes p{
  text-align: left;
  text-decoration: underline;
  width: 100%;
}

.notes p#leftAlign {
  text-decoration: none;
  text-align: left;
  margin-top: 0;
  margin-bottom: 20px;
}


@keyframes show {
  from {
    max-height: 0px;
  }

  to {
    max-height: 200px;
  }
}

@keyframes hide {
  from {
    max-height: 200px;
  }

  to {
    max-height: 0px;
    display: none;
  }
}

.detailsContainerHidden {
  position: relative;
  z-index: 10;
  animation-name: hide;
  animation-duration: 0.1s;
  animation-timing-function: ease-out;
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  max-height: 0px;

}

.detailsContainerHidden p {
  margin: 0;
}

.name {
  font-size: 32px;
  align-self: center;
}

.product {
  border-radius: 5px;
  background-color: var(--primary);
  width: 100%;
}

.product:hover {
  background-color: var(--secondary);
  transition: background-color 0.1s ease-out;
}

.icon {
  cursor: pointer;
  align-self: center;
  margin: 0;
  font-size: 24px;
  font-weight: 700;
}

hr {
  width: 100%;
  border-style: none;
  border-top: 1px solid black;
  margin: 0;
}


.checkbox input{
  margin: 0;
  width: 32px;
  height: 32px;
}

.product button {
  border-style: none;
  width: 64px;
  height: 32px;
  text-align: center;
  border-radius: 5px;
}

#prevent-animation { 
  animation-duration: 0s !important;
}


.notes {
  border-top: 1px;
  border-style: solid;
  border-bottom: 0;
  border-right: 0;
  border-left: 0;
  width: 95%;
}

.submitContainer button {
  padding: 0;
  margin: 0;
  width: 45%;
}



.cancel:hover {
  transition: background-color 0.2s ease-out;
  background-color: var(--error);
}

.submit:hover {
  transition: background-color 0.2s ease-out;
  background-color: var(--success);
}


@media (max-width: 650px){
  .simpleContainer {
    flex-direction: column;
  }
  .simpleContainer * {
    align-items: center;
    flex-direction: column;
    gap: 0;
    margin: 0;
  }
  .submitContainer button {
    width: 100%;
    margin-bottom: 10px;
  }
  
}