.formLayout {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Poppins";
    padding: 40px;
}

.formLayout form {
    background: #FFFFFF;
    box-shadow: -15px -15px 0px  #4bb3fd;
    border-radius: 24px;
    padding: 32px 32px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.insideForm {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
 
}
label, input {
    display: block;
}

input {
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 4px;

}


form button {
    background: var(--primary);
    border: 0;
    color: #fff;
    padding: 10px;
    font-family: "Poppins";
    border-radius: 4px;

    display: flex;
    flex-direction: row; 
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 10px;

    width: 332px;
    height: 44px;

    background: var(--background);
    border-radius: 4px;
}

