.formLayout {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
 
}

.formLayout form {
    background: #FFFFFF;
    box-shadow: -15px -15px 0px  #4bb3fd;
    border-radius: 24px;
    padding: 32px 32px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    
}
.insideForm {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
 
}
label, input {
    display: block;

}

input {
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
   
    width: 310px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: rgba(36, 49, 171, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;

}

.insideForm button {
    color: #fff;
    padding: 10px;
    border-radius: 4px;

    display: flex;
    flex-direction: row; 
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 10px;

    width: 332px;
    height: 44px;
    background: var(--background);
    border-radius: 4px;

    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;

    
    cursor: pointer;
}

.insideForm button:hover {
    background-color: rgba(0, 0, 0, 0.12);

}

